.App {
   display: flex;
   flex-direction: column;
   text-align: center;
   
}

body {
   background-image: url('C:\Users\victo\Desktop\rick_and_morty\img\rickyc-137.png');
   background-repeat: no-repeat;
   background-size: cover; 
   background-attachment: fixed;
}
